{% extends "master.html" %}
{% block content%}

{% if request.user.is_authenticated %}

        {% for message in messages%}
        <div>
          <span class="color-gray"> [{{message.created_at}}] </span>{{ message.author.first_name }}: {{ message.text }}
        </div>
        {% endfor %}

          <form action="/chat/" method="post">
            {% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
              <label class="mdl-textfield__label" for="sample3">Text...</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Send message
              </button>
          </form>
          {% else %}
          <h3>You are not logged in<h3>
            <p> Please log in <a href="/login/"><b>here</b></a> to read your Messages<p>
          {% endif %}


        </div>


        {% endblock %}

