html {
  scroll-behavior: smooth;
  
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.mdl-textfield__input{
  line-height: 2.5 !important;
}

.mdl-layout__content{
  padding: 32px 32px 32px 32px;
}

.signin-signup {
  margin: 16px 0 16px 
}

.mdl-card {
  border-radius: 6px !important
}

.warning-message{
  color: red;
}

.mdl-spinner {
  margin: 16px 0 16px 0 !important; 
}

.mdl-card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mdl-layout__header-row{
  padding: 0 40px 0 40px !important; 
}

@media screen and (max-width:1200px) {

}

@media screen and (max-width:1000px) {
 
}

@media screen and (max-width:800px) {

}

@media screen and (max-width:600px) {
 
}

@media screen and (max-width:400px) {

}