html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.mdl-layout {
  height: calc(100vh - 105px) !important;
}

/* .chat-content{
  height: calc(100% + 90px);
} */

.mdl-textfield__input {
  line-height: 2.5 !important;
}

.signin-signup {
  margin: 16px 0 16px
}

.mdl-card {
  border-radius: 6px !important
}

.warning-message {
  color: red;
}

.mdl-spinner {
  margin: 16px 0 16px 0 !important;
}

.mdl-card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mdl-card-center-two-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mdl-layout__header-row {
  padding: 0 40px 0 40px !important;
}

.mdl-card-user {
  min-height: unset !important;
  background-color: #3f51b5 !important;
  display: flex !important;
  justify-content: flex-end !important;
  position: relative !important;
  left: calc(100vw - 374px) !important;
  margin: 16px !important;
}

.mdl-card-not-user {
  min-height: unset !important;
  background-color: rgb(255, 64, 129) !important;
  display: flex !important;
  justify-content: flex-end !important;
  position: relative !important;
  margin: 16px !important;
}

.mdl-card-user-text {
  background-color: #7986cb !important;
}

.mdl-card-not-user-text {
  background-color: #f06292 !important;
}

.input-send-div {
  position: fixed;
  bottom: 0;
  background-color: white !important;
  z-index: 1;
}

.mdl-card__supporting-text {
  color: white !important;
}

.mdl-card__actions {
  text-align: end !important;
}

.mdl-layout__obfuscator.is-visible {
  position: fixed !important;
}

.mdl-layout__drawer.is-visible{
  position: fixed !important;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1000px) {}

@media screen and (max-width:800px) {}

@media screen and (max-width:600px) {}

@media screen and (max-width:400px) {}