{% extends "master.html" %} {% block password_reset %}
<div class="mdl-card-center">
  <h4>Reset your password</h4>
  <p>
    Enter your user account's verified email address and we will send you a
    password reset link.
  </p>

  {% if noExistingEmail %}
  <p class="warning-message">
    No matching email address. If you are new here, please
    <a href="/register/"><b>sign up</b></a>
  </p>
  {% endif %} {% if newPassword %}
  <script>
    setTimeout(function () {
      window.location.href = "/login/";
    }, 5000);
  </script>
  
  <p>
    We have sent you a new password. Please check your email. You will be
    redirected to the login page in 5 seconds.
  </p>
  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
  {% endif %}

  <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-card-center">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Reset password</h2>
    </div>
    <form method="POST" class="mdl-card-center">
      {% csrf_token %}
      <input type="hidden" name="redirect" value="{{redirect}}" />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div>
          <input
            class="mdl-textfield__input"
            name="email"
            type="email"
            id="signup-email"
            autocomplete="off"
            value="{{ request.POST.email }}"
          />
        </div>
        <label class="mdl-textfield__label" for="signup-email">Email</label>
      </div>

      <div class="mdl-card__actions mdl-card--border mdl-card-center">
        <div>
          <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            style="margin: 16px 0 0px"
          >
            Reset password
          </button>
        </div>
      </div>
    </form>
    <p class="signin-signup">
      Already on Django Chat App? <a href="/login/"><b>Sign in</b></a>
    </p>
  </div>
</div>
{% endblock %}
